    /* Basic font-face */
    @font-face {
        font-family: leak;
        src: url(https://leaking.via/css-font-face-src);
    }
    
    /* 
    * Cross-browser font-face
    * IE6-8 will use the EOT source, modern browsers will use WOFF(2) and fallback to TTF in case of error
    * More info:
    * http://www.paulirish.com/2009/bulletproof-font-face-implementation-syntax/
    * http://caniuse.com/#search=eot
    * http://caniuse.com/#search=woff2
    * http://caniuse.com/#search=woff
    * http://caniuse.com/#search=ttf
    */
    @font-face {
      font-family: 'leak';
      src: url('https://leaking.via/css-font-face-src-eot') format('eot'), url('https://leaking.via/css-font-face-src-woff') format('woff'), url('https://leaking.via/css-font-face-src-ttf') format('truetype');
    }

    big {
        font-family: leak;
    }
